<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <%= link_to 'Member Club', root_path, class:'navbar-brand ' %>
      
      <div class="d-flex justify-content-space-between justify-self-end">
        <%= link_to 'New Post', new_post_path, class:' btn btn-primary text-white' %>
        <%= link_to 'Sign Up', new_member_registration_path, class:' btn btn-primary text-white' %>
        <%= link_to 'Log In', new_member_session_path, class:' btn btn-primary text-white' %>
        <%= link_to 'Sign Out', destroy_member_session_path, class:' btn btn-primary text-white' %>
      </div>
      
    </div>
    <%= yield %>
  </body>
</html>
